.page-nav{
	display: flex;
	text-align: center;
	font-size: 14px;
}
// .page-nav{
// 	ul{
// 		display:block;
// 		li{
// 			padding: 4px;
// 		}
// 	}
// }
// .page-nav{
// 	&-list{
// 		display: flex;
// 	}
// }